In [27]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
laasya = pd.read_csv('/content/sample_data/train.csv')
current_year = pd.to_datetime('today').year
laasya['Car_Age'] = current_year - laasya['Year']
print(laasya.head())

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Fuel_Type Transmission Owner_Type     Mileage   Engine  \
0              41000    Diesel       Manual      First  19.67 kmpl  1582 CC
1              46000    Petrol       Manual      First    13 km/kg  1199 CC
2              87000    Diesel       Manual      First  20.77 kmpl  1248 CC
3              40670    Diesel    Automatic     Second   15.2 kmpl  1968 CC
4              86999    Diesel       Manual      First  23.08 kmpl  1461 CC

       Power  Seats  New_Price  Price  Car_Age
0  126.2 bhp    5.0        NaN  12.50        8
1   88.7 bhp    5.0  8.61 Lakh   4.50       12
2  88.76 bhp    7.0        NaN   6.00       11
3  140.8 bhp    5.0        NaN  17.74       10
4   63.1 bhp    5.0        NaN   3.50       10

# New Section