In [15]:
import pandas as pd
import re
url = "/content/sample_data/train.csv"
laasya = pd.read_csv(url)
print(laasya.isnull().sum())
laasya.dropna(subset=['New_Price'], inplace=True)
laasya.dropna(subset=['Mileage'], inplace=True)
print(laasya.isnull().sum())
#laasya.head()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64